<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="2" parallel="classes"    name="Test">
    <classes>
      <class name="Week5.day1.Assignment1.Create"/>
      <class name="Week5.day1.Assignment1.Delete"/>
      <class name="Week5.day1.Assignment1.Edit"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
